server.port: ${greeting-service.port}

service:
  cute-name:
    name: ${cute-name-service.endpoint}

opentracing:
  jaeger:
    http-sender:
      url: ${jaeger.endpoint}
    enable-b3-propagation: true
    log-spans: true
spring:
  application:
    name: ${project.artifactId}